<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="loginForm" (submit)="doLogin()" novalidate>
    <ion-list>

      <ion-item>
        <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input formControlName="email" type="email"
                   [class.invalid]="!loginForm.controls.email.valid && blur">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
        loginForm.controls.email.touched">
        <p>Please enter a valid email address.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && blur">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
        <p>Your password needs more than 6 characters.</p> </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="!loginForm.valid">{{ 'LOGIN_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
