page-profile {
 .avatar {
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 50%;
   vertical-align: middle;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
}
