<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Recipes
    </ion-title>
    <ion-buttons end>
    <button ion-button *ngIf="!toggled" (click)="toggle()">
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" fullscreen>
  <ion-searchbar
    *ngIf="toggled"
    [(ngModel)]="someValue"
    (ionInput)="searchThis($event)"
    [showCancelButton]="true">
  </ion-searchbar>
  <ion-card *ngFor="let recipe of recipeList" on-click="goToRecipeDetails(recipe.id)" class="fadeIn">
    <img class="recipe-image" src="{{recipe?.imgurl}}" />
    <div class="card-text">
      {{recipe?.name}}
      <small style="float: right"><ion-icon name="heart" color="danger"></ion-icon> <sup>{{recipe?.likes_count}}</sup></small>
    </div>
  </ion-card>

</ion-content>
