<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="signupForm" (submit)="doSignup()" novalidate>
    <ion-list>

      <ion-item>
        <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input formControlName="email" type="email" [class.invalid]="!signupForm.controls.email.valid && blur"> </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.touched">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input formControlName="password" type="password" [class.invalid]="!signupForm.controls.password.valid && blur"> </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.touched">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block type="submit" [disabled]="!signupForm.valid">{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>

    </ion-list>
  </form>
</ion-content>
